* {
  box-sizing: border-box;
  
}
header {
  display: flex;
  justify-content: space-between;
}

.socialNav {
  height: 15px;
  width: 15px;
} 

.leftHeader {
  display: inline-block;
  margin: 15px;
  height: 30px;

} 
